<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- not live yet desc is useless lol -->
    <meta name='description' content='Software Engineering Class Project'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassWow</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
   
<body>
 <h1>Hello! Welcome to the Project</h1>

    <h2> Buttons
        <button type="button" onclick="newList()">
            Create New List
        </button>
        <button type="button" onclick="returnList()">
            Saved Lists
        </button>
    </h2>

    <form action="">
        <label for="place1">Location 1</label>
        <input type="text" id="place1" name="place1"><br>
        <label for="place2">Location 2</label>
        <input type="text" id="place2" name="place2"><br>
        <label for="place3">Location 3</label>
        <input type="text" id="place3" name="place3"><br>
        <input type="submit" value="Submit">
    </form>

    <p id="test">

    </p>

<script>
    const locations = ["Place1", "Place2", "Place3"];

    function newList() {
        document.getElementById("test").innerHTML = "clicked";
        console.log(locations);
    }

    function returnList() {
        document.getElementById("test").innerHTML = locations;
        console.log(locations);
    }
</script>


</body>
</html>