{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div>
        <h1>Login</h1>

        {% if error %}
          <p style="color:red">{{ error }}</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="userName" value="{{ userName|default:'' }}" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Submit" id="login">
            <input type="reset" value="Reset">
        </form>
    </div>

    <input type="button" value="Don’t have an account?" onclick="location.href='{% url 'signin' %}'" />

</body>
</html>